* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

h1, h3 {
    width: 100vw;
    text-align: center;
    background-color: rgb(209, 240, 255);
    border-radius: 10px;
    padding: 1vh;
    box-shadow: 0 10px 5px 5px rgba(0,0,0,0.3);
}

.tit1 {
    margin-top: 15vh;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 10vw;
    margin: 3vh;

}

.cliente-label {
    margin-top: 5vh;
    text-align: center;
}

button {
    width: 10vw;
}

table {
    width: 70vw;
    background-color: #fff;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.tabla1 {
    margin-top: 20vh;
}

tr, td {
    border: 1px solid #ddd;
    height: 5vh;
    text-align: center;
}

.tr1, .td1 {    
    width: 33%;
}

tr:hover {
    background-color: grey;
    cursor: pointer;
}

/* detalles cliente */

.body2 {
    height: 300vh;
}

.tit2 {
    margin-top: 15vh;
}

.nombre2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.subtit2 {
    margin-top: 5vh;
}

.buscar2 {
    margin-bottom: 10vh;
}

.boton-registrar-calificacion {
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.tabla2-1 {
    margin-bottom: 10vh;
}

.tabla2-2 {
    margin-bottom: 20vh;
}

#evolucion2 {
    margin-left: 40vw;
}

#article2 {
    margin-top: 50vh;
}

/* asignar rutina */

.tit-asignar-entrenamiento {
    margin-top: 15vh;
    margin-bottom: 10vh;
    width: 100vw;
    text-align: center;
}

.form-asignar-entrenamiento-buscar {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buscar-asignar-entrenamiento {
    width: 10vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.cliente-asignar-entrenamiento {
    width: 100vw;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.guardar-asignar-entrenamiento {
    margin-top: 5vh;
    width: 15vw;
}

/* registrar calificacion */

.tit-registrar-calificacion {
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.form-buscar-registrar-calificacion, .form-registrar-calificacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;
}