* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

.body1 {
    height: 110vh;
}

h1, h2, h3 {
    width: 100vw;
    text-align: center;
    background-color: rgb(209, 240, 255);
    border-radius: 10px;
    padding: 1vh;
    box-shadow: 0 10px 5px 5px rgba(0,0,0,0.3);}

.tit1 {
    margin-top: 20vh;
    margin-bottom: 15vh;
}

.main1 {
    width: 100vw;
    justify-content: center;
}

.centrar1 {
    display: flex;
    flex-direction: row;
}

#art1 {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: center;
}

#boton1 {
    margin-bottom: 5vh;
}

/* ingresar fisioterapia */

.tit-fisio {
    margin-top: 15vh;
}

.subtit-fisio {
    width: 100vw;
    margin-top: 5vh;
    text-align: center;
    margin-bottom: 10vh;
}

.form-fisio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#label-input-fisio {
    width: 15vw;
    text-align: center;
    margin-top: 3vh;
}

.ingresar-fisio {
    margin-top: 10vh;
}

/* Modificar plan */

.body-mod-plan {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tit-modificar-plan {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.buscar-modificar-plan {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#label-input-mod-plan {
    width: 20vw;
    margin-bottom: 3vh;
    text-align: center;
}

.boton-buscar-mod-plan {
   margin-top: 5vh;
   margin-bottom: 15vh; 
}

.tabla-modificar-plan {
    width: 70vw;
    max-width: 100%;
    table-layout: fixed;
}

td, tr {
    height: 5vh;
    border: 1px solid black;
    text-align: center;
}   

.input-mod-plan {
    height: 100%;
    width: 100%; 
    box-sizing: border-box;
}

/* Crear combo */

.main-crear-combo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.tit-crear-combo {
    margin-top: 15vh;
    margin-bottom: 25vh;
}

.tabla-crear-combo {
    width: 80vw;
    margin-bottom: 15vh;
}

.input-crear-combo {
    width: 100%;
}

/* Modificar combo */

.main-mod-combo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.tit-modificar-combo {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.buscar-combo {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-input-mod-combo {
    margin-bottom: 3vh;
    text-align: center;
}

.buscar-mod-combo {
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.tabla-mod-combo {
    width: 80vw;
    margin-bottom: 10vh;
}

/* otra parte */

.subtit1 {
    margin-bottom: 15vh;
    color: brown;
}

.form1 {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    width: 100vw;
    margin-bottom: 3vh;
    justify-content: center;
}

.boton1 {
    margin-top: 15vh;
    width: 15vw;
}